.articulo-cart{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-style: solid;
    border-color: rgb(71, 13, 100);
    color: white;
    text-align: center;
}

.articulo-cart strong {
    position: absolute;
    top: 5px;
}

.articulo-cart img {
    width: 100%;
    transform: scale(0.7);
    padding-top: 60px;
}