.articulo-cart{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 30vh;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    border-radius: 15px;
    border-bottom-style: solid;

}

.img-article-cart {
    width: 100%;
    transform: scale(1);
}

.cart-item-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 50%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.update-item{
    display: flex;
    flex-direction: column;
}