.passport-options{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.a2 {
    color: #333;
}

.login-container{
    max-width: 60vw;
    margin: auto;
    margin-top: 64px;
    padding: 32px;
    border-radius: 0.5em;
    color: #333;
    border: 1px solid #bbb;
    background-color: #ccc;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}