.profile-container {
    display: flex;
    max-width: 95vw;
    margin: auto;
    margin-top: 64px;
    padding: 32px;
    border-radius: 0.5em;
    color: #333;
    border: 1px solid #bbb;
    background-color: #ccc;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-buttons {
    display: flex;
    flex-direction: column;
}

.vertical-line {
    transform: rotate(90deg) scale(1.5);
    width: 10%;
}