.checkout-container {
    max-width: 60vw;
    margin: auto;
    margin-top: 64px;
    padding: 32px;
    border-radius: 0.5em;
    color: #333;
    border: 1px solid #bbb;
    background-color: #ccc;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-control {
    width: 40vw;
    
}

.checkout-button{
    width: 100%;
}

.order-id{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    gap: 5vh
}

.recap-container{
    width: 100%;
    display: flex;
    gap: 15px;
    margin: 5vh 0vh 5vh;
}

.recap{
    width: 50%;
}